body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #2f2f2f;
  color: #f0f0f0;
  font-size: xx-large;

  font-family:
    ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari,
    "Arial Rounded MT", "Arial Rounded MT Bold", Calibri, source-sans-pro,
    sans-serif;
  font-weight: normal;
}

#content {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
