body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: #2f2f2f;
  color: #f0f0f0;
}

#content {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}