.sparklify-target {
  position: relative;
  display: inline-block;
}

@keyframes sparklify-rotate-sparkle {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes sparklify-scale-sparkle {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

.sparklify-sparkleWrapper,
.sparklify-sparkleWrapper * {
  pointer-events: none;
}

.sparklify-sparkleWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

  --animation-length: 600ms;

  transform: translate(-50%, -50%);
}

.sparklify-outerSparkle {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: sparklify-scale-sparkle var(--animation-length) ease-in-out
    forwards;
}

.sparklify-innerSparkle {
  animation: sparklify-rotate-sparkle var(--animation-length) linear forwards;
}
